*
{
    -fx-font-family: "Arial";
    -fx-font-weight: Bold; 
}
.container
{
    -fx-background-color: #e3d9fc;
}
.label
{
    -fx-text-fill:  #2a3465;
    -fx-font-size: 15px;
}
.title
{
    -fx-text-fill:  #2a3465;
    -fx-font-size: 28px;
}
.text-field
{
  -fx-background-color: white;
  -fx-background-radius:  15px;
  -fx-border-width:  0;
  -fx-text-fill:  #2a3465;
  -fx-font-size: 15px;
}
.button
{
    -fx-background-color: #2a3465;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius:  15px;
}