*
{
    -fx-font-family: "Arial";
    -fx-font-weight: Bold; 
}
.container
{
    -fx-background-color: #e3d9fc;
}
.label
{
  -fx-text-fill: #2a3465;
  -fx-font-size: 15px;
}
.title
{
    -fx-font-size: 28px;
}
.button
{
  -fx-background-color:  #2f3c44;
  -fx-background-radius:  10px;
  -fx-text-fill:  #a1b4bb;
}
.text-field
{
  -fx-background-color: transparent;
  -fx-border-color:  #a1b4bb;
  -fx-border-width:  0 0 2px 0;
  -fx-text-fill:  #ffffff;
} 
.choice-box
{
    -fx-background-color:  #2f3c44;
    -fx-mark-color: #a1b4bb;
}
  
.choice-box .context-menu 
{ 
    -fx-background-color: #2f3c44; 
}

.choice-box .menu-item > .label 
{ 
    -fx-text-fill: #a1b4bb; 
}

.date-picker
{
    -fx-background-color: transparent; 
    -fx-text-alignment: right;
}

.date-picker .arrow-button {
    -fx-background-color: transparent; 
}

.date-picker .arrow-button .arrow 
{
    -fx-background-color: #a1b4bb;
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
}

.date-picker .cell 
{
    -fx-background-color: #2f3c44;
    -fx-text-fill: white;
}

.date-picker-popup 
{
    -fx-border-color: #2f3c44;
}

.date-picker-popup .month-year-pane 
{
    -fx-background-color: #2f3c44;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
  -fx-background-color: #a1b4bb;
}
.date-picker .cell:hover 
{
    -fx-background-color: #a1b4bb;
    -fx-text-fill: #2f3c44;

}
   
.date-picker .cell:focused 
{
    -fx-background-color: #a1b4bb;
    -fx-text-fill: #2f3c44;
}

.date-picker-popup .week-number-cell {
	-fx-text-fill: #a1b4bb;
}
.text-area
{
    -fx-text-fill:  white;
}
.text-area .content
{
  -fx-background-color:  #2f3c44;
}