*
{
    -fx-font-family: "Arial";
    -fx-font-weight: Bold; 
}
.container
{
    -fx-background-color: #e3d9fc;
}
.title
{
    -fx-text-fill:  #2a3465;
    -fx-font-size: 28px;
}
.input-box
{
  -fx-background-color:  white;
  -fx-background-radius:  15px;
}